:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'ss02' 1, 'ss03' 1; /* fix for Chrome */
  font-size: 100%;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}
body {
  background-color: #fff;
  color: #000;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.54;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  padding-bottom: 4em;

  @media (min-width:600px) {
    font-size: 1.3rem;
  }
}

a {
  color: #0000ff;
  text-decoration: underline;
  text-decoration-line: underline;
}
a > code {
  text-decoration: none;
}
a[href^=tel]{ color:#000; text-decoration:none}

table {
  border-collapse: collapse;
  border: 1px solid;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 1.5em;
}
table td, table th {
    border: 1px dotted #000000;
}
table td:first-child, table th:first-child {
    border-left: 0px solid #000000;
}
table td:last-child, table th:last-child {
    border-right: 0px solid #000000;
}
table th {
    border-top: 0px solid #000000;
}
td, th {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
thead {
  background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0em;
  line-height: 1.3;
}
h2:not(:first-child) {
 margin-top: 40px;
}
h3:not(:first-child) {
 margin-top: 40px;
}
h4:not(:first-child) {
 margin-top: 40px;
}
h5:not(:first-child) {
 margin-top: 40px;
}
h6:not(:first-child) {
 margin-top: 40px;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
h2, h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
h4, h5, h6 {
  font-size: 1.4rem;
}
h2 {
  border-bottom: solid;
  border-width: 2px;
}
h3 {
  border-bottom: solid;
  border-width: 1px;
}
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5 .anchor {
  display: inline-flex;
  visibility: visible;
  opacity: 1;
}
blockquote > p:last-child {
    margin-bottom: 0;
}
p {
  margin: 0;
  margin-bottom: 1.5em;
}
ul {
  list-style-type: square;
}
pre {
  margin: 0;
  padding: 0;
}
:not(pre) > code {
  font-family: Menlo, 'Fira Mono', monospace;
  background-color: #f0f0f0;
  border-radius: 0.2em;
  padding: 0.2em;
  white-space: nowrap;
}
.codehilite, :not(.codehilite) > pre {
  font-family: Menlo, 'Fira Mono', monospace;
  background-color: #f0f0f0;
  border-style: solid;
  border-width: 1px;
  padding: 1em;
  overflow-x: scroll;
  margin: 0;
  margin-bottom: 1.5em;
}
blockquote {
  background-color: #f0f0f0;
  border-style: solid;
  border-width: 1px;
  margin: 0;
  margin-bottom: 1.5em;
  padding: 1em;
}
.anchor {
  line-height: 0;
  text-decoration: none !important;
  font-weight: 400;
  margin-left: 0.5em;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.header {
  width: 100%;
  background: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.header a {
  color: #ffffff;
}

.codehilite .hll { background-color: #ffffcc }
.codehilite  { background: #f8f8f8; }
.codehilite .c { color: #408080; font-style: italic } /* Comment */
.codehilite .k { color: #008000; font-weight: bold } /* Keyword */
.codehilite .o { color: #666666 } /* Operator */
.codehilite .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.codehilite .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.codehilite .cp { color: #BC7A00 } /* Comment.Preproc */
.codehilite .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.codehilite .c1 { color: #408080; font-style: italic } /* Comment.Single */
.codehilite .cs { color: #408080; font-style: italic } /* Comment.Special */
.codehilite .gd { color: #A00000 } /* Generic.Deleted */
.codehilite .ge { font-style: italic } /* Generic.Emph */
.codehilite .gr { color: #FF0000 } /* Generic.Error */
.codehilite .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.codehilite .gi { color: #00A000 } /* Generic.Inserted */
.codehilite .go { color: #888888 } /* Generic.Output */
.codehilite .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.codehilite .gs { font-weight: bold } /* Generic.Strong */
.codehilite .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.codehilite .gt { color: #0044DD } /* Generic.Traceback */
.codehilite .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.codehilite .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.codehilite .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.codehilite .kp { color: #008000 } /* Keyword.Pseudo */
.codehilite .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.codehilite .kt { color: #B00040 } /* Keyword.Type */
.codehilite .m { color: #666666 } /* Literal.Number */
.codehilite .s { color: #BA2121 } /* Literal.String */
.codehilite .na { color: #7D9029 } /* Name.Attribute */
.codehilite .nb { color: #008000 } /* Name.Builtin */
.codehilite .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.codehilite .no { color: #880000 } /* Name.Constant */
.codehilite .nd { color: #AA22FF } /* Name.Decorator */
.codehilite .ni { color: #999999; font-weight: bold } /* Name.Entity */
.codehilite .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.codehilite .nf { color: #0000FF } /* Name.Function */
.codehilite .nl { color: #A0A000 } /* Name.Label */
.codehilite .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.codehilite .nt { color: #008000; font-weight: bold } /* Name.Tag */
.codehilite .nv { color: #19177C } /* Name.Variable */
.codehilite .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.codehilite .w { color: #bbbbbb } /* Text.Whitespace */
.codehilite .mb { color: #666666 } /* Literal.Number.Bin */
.codehilite .mf { color: #666666 } /* Literal.Number.Float */
.codehilite .mh { color: #666666 } /* Literal.Number.Hex */
.codehilite .mi { color: #666666 } /* Literal.Number.Integer */
.codehilite .mo { color: #666666 } /* Literal.Number.Oct */
.codehilite .sa { color: #BA2121 } /* Literal.String.Affix */
.codehilite .sb { color: #BA2121 } /* Literal.String.Backtick */
.codehilite .sc { color: #BA2121 } /* Literal.String.Char */
.codehilite .dl { color: #BA2121 } /* Literal.String.Delimiter */
.codehilite .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.codehilite .s2 { color: #BA2121 } /* Literal.String.Double */
.codehilite .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.codehilite .sh { color: #BA2121 } /* Literal.String.Heredoc */
.codehilite .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.codehilite .sx { color: #008000 } /* Literal.String.Other */
.codehilite .sr { color: #BB6688 } /* Literal.String.Regex */
.codehilite .s1 { color: #BA2121 } /* Literal.String.Single */
.codehilite .ss { color: #19177C } /* Literal.String.Symbol */
.codehilite .bp { color: #008000 } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #0000FF } /* Name.Function.Magic */
.codehilite .vc { color: #19177C } /* Name.Variable.Class */
.codehilite .vg { color: #19177C } /* Name.Variable.Global */
.codehilite .vi { color: #19177C } /* Name.Variable.Instance */
.codehilite .vm { color: #19177C } /* Name.Variable.Magic */
.codehilite .il { color: #666666 } /* Literal.Number.Integer.Long */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  position: relative;
  width: 100%;
  margin-bottom: 1.5em;
}
.row [class^="col"] {
  float: left;
  margin: 0;
  margin-right: 4%;
  min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {width: 96%}
.col-1-sm {width: 4.33%}
.col-2-sm {width: 12.66%}
.col-3-sm {width: 21%}
.col-4-sm {width: 29.33%}
.col-5-sm {width: 37.66%}
.col-6-sm {width: 46%}
.col-7-sm {width: 54.33%}
.col-8-sm {width: 62.66%}
.col-9-sm {width: 71%}
.col-10-sm {width: 79.33%}
.col-11-sm {width: 87.66%}
.col-12-sm {width: 96%}
.row::after {
	content: "";
	display: table;
	clear: both;
}
.hidden-lg :not(span), span.hidden-lg {
  display: none;
}
.hidden-sm :not(span) {
  display: block;
}
span.hidden-sm {
  display: inline;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {width: 80%}
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {width: 4.33%}
  .col-2 {width: 12.66%}
  .col-3 {width: 21%}
  .col-4 {width: 29.33%}
  .col-5 {width: 37.66%}
  .col-6 {width: 46%}
  .col-7 {width: 54.33%}
  .col-8 {width: 62.66%}
  .col-9 {width: 71%}
  .col-10 {width: 79.33%}
  .col-11 {width: 87.66%}
  .col-12 {width: 96%}
  .hidden-sm :not(span), span.hidden-sm {
    display: none;
  }
  .hidden-lg :not(span) {
    display: block;
  }
  span.hidden-lg {
    display: inline;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

@keyframes webmentionsFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.webmentions-fade-in {
  animation: webmentionsFadeIn 0.5s;
}
