html, body {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,Ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}
body {
  color: #2e3440;
  background-color: #f9fafb;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
}
p {
  line-height: 1.5em;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.row {
  position: relative;
  width: 100%;
}
.row [class^="col"] {
  float: left;
  margin: 0.5em 2%;
  min-height: 0.125rem;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 95%;
    max-width: 60rem;
  }
}

:not(pre) > code {
  background-color: #2e3440;
  color: #f9fafb;
  border-radius: 0.25em;
  padding: 0.3em;
}
.codehilite {
  font-family: monospace;
  color: #f9fafb;
  background-color: #2e3440;
  padding: 0.5em;
  overflow-x: scroll;
}
pre > code {
  font-size: 1.1em;
  inline-size: min-content;
}
blockquote {
  background-color: #E5E6E8;
  border-radius: 0.5em;
  margin: 0;
  padding: 0.5em 1em;
}

td.linenos .normal{color:inherit;background-color:transparent;padding-left:5px;padding-right:5px}span.linenos{color:inherit;background-color:transparent;padding-left:5px;padding-right:5px}td.linenos .special{color:#000;background-color:#ffffc0;padding-left:5px;padding-right:5px}span.linenos.special{color:#000;background-color:#ffffc0;padding-left:5px;padding-right:5px}.hll{background-color:#49483e}.c{color:#75715e}.err{color:#960050;background-color:#1e0010}.k{color:#66d9ef}.l{color:#ae81ff}.n{color:#f8f8f2}.o{color:#f92672}.p{color:#f8f8f2}.ch{color:#75715e}.cm{color:#75715e}.cp{color:#75715e}.cpf{color:#75715e}.c1{color:#75715e}.cs{color:#75715e}.gd{color:#f92672}.ge{font-style:italic}.gi{color:#a6e22e}.go{color:#66d9ef}.gp{color:#f92672;font-weight:700}.gs{font-weight:700}.gu{color:#75715e}.kc{color:#66d9ef}.kd{color:#66d9ef}.kn{color:#f92672}.kp{color:#66d9ef}.kr{color:#66d9ef}.kt{color:#66d9ef}.ld{color:#e6db74}.m{color:#ae81ff}.s{color:#e6db74}.na{color:#a6e22e}.nb{color:#f8f8f2}.nc{color:#a6e22e}.no{color:#66d9ef}.nd{color:#a6e22e}.ni{color:#f8f8f2}.ne{color:#a6e22e}.nf{color:#a6e22e}.nl{color:#f8f8f2}.nn{color:#f8f8f2}.nx{color:#a6e22e}.py{color:#f8f8f2}.nt{color:#f92672}.nv{color:#f8f8f2}.ow{color:#f92672}.w{color:#f8f8f2}.mb{color:#ae81ff}.mf{color:#ae81ff}.mh{color:#ae81ff}.mi{color:#ae81ff}.mo{color:#ae81ff}.sa{color:#e6db74}.sb{color:#e6db74}.sc{color:#e6db74}.dl{color:#e6db74}.sd{color:#e6db74}.s2{color:#e6db74}.se{color:#ae81ff}.sh{color:#e6db74}.si{color:#e6db74}.sx{color:#e6db74}.sr{color:#e6db74}.s1{color:#e6db74}.ss{color:#e6db74}.bp{color:#f8f8f2}.fm{color:#a6e22e}.vc{color:#f8f8f2}.vg{color:#f8f8f2}.vi{color:#f8f8f2}.vm{color:#f8f8f2}.il{color:#ae81ff}

a > svg {
  text-decoration: none !important;
}
a {
  text-decoration: none;
  transition: 0.5s;
  color: #5e81ac;
}
a:hover {
  color: #f92672;
  text-decoration: underline;
}
svg:hover path {
  text-decoration: none !important;
  fill: #f92672;
  transition: all ease 0.5s;
}
svg path {
  fill: #5e81ac;
  transition: all ease 0.5s;
}
.navbar-inner > a {
  margin-left: 1em;
}
.navbar-inner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 17em;
}
.navbar-outer {
  margin: 0;
  position: relative;
  height: 4em;
  width: 100%;
}
.how-to-subscribe {
  font-size: 1.1em;
  color: #f9fafb;
  background-color: #2e3440;
  border-radius: 0.5em;
  margin: 0;
  padding: 0.5em 1em;
}
.heart {
  color: #f92672;
}