<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Seth Michael Larson — Python, open source, and the internet{% endblock %}</title>
    <meta name="description" content="Python, open source, and the internet">
    <meta name="keywords" content="python pypi open source maintainer urllib3 requests http networking security oss">
    <meta name="author" content="Seth Michael Larson">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ url_for('rss_blog_posts') }}"/>
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="{{ url_for('rss_blog_posts') }}"/>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&family=Fira+Sans:wght@400;600&display=swap" rel="stylesheet">
{% block opengraph %}
    <meta property="og:site_name" content="Seth Michael Larson"/>
    <meta property="og:author" content="Seth Michael Larson"/>
    <meta property="og:type" content="article"/>
    <meta property="og:description" content="Python, open source, and the internet"/>
    <meta property="og:image" content="https://github.com/sethmlarson.png"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@sethmlarson"/>
    <meta name="twitter:creator" content="@sethmlarson"/>
    <meta name="twitter:title" content="Seth Michael Larson"/>
    <meta name="twitter:description" content="Python, open source, and the internet"/>
    <meta name="twitter:image" content="https://github.com/sethmlarson.png"/>
{% endblock %}
</head>
<body>
<div class="header">
  <div class="container">
    <div class="row">
      <a href="/">About</a> |
      <a href="{{ url_for('list_blog_posts') }}">Blog</a> |
      <a href="https://tinyletter.com/sethmlarson">Newsletter</a> |
      <a href="{{ url_for('rss_blog_posts') }}">RSS</a>
    </div>
    <div class="row">
      {% block header %}
      <h1>{{ title }}</h1>
      {% endblock %}
    </div>
  </div>
</div>
<div class="container">
{% block content %}{% endblock %}
</div>
<script data-goatcounter="https://sethmlarson-dev.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>
</html>
