{% extends "base.html" %}
{% block title %}{{ blog_title }}{% endblock %}
{% block opengraph %}
    <meta property="og:site_name" content="Seth Michael Larson"/>
    <meta property="og:author" content="Seth Michael Larson"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ blog_title }}"/>
    <meta property="og:description" content="{{ blog_content_text | truncate(200, true, '...')}}"/>
    <meta property="og:image" content="https://github.com/sethmlarson.png"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@sethmlarson"/>
    <meta name="twitter:creator" content="@sethmlarson"/>
    <meta name="twitter:title" content="{{ blog_title }}"/>
    <meta name="twitter:description" content="{{ blog_content_text | truncate(200, true, '...')}}"/>
    <meta name="twitter:image" content="https://github.com/sethmlarson.png"/>
{% endblock %}
{% block header %}
<h1>{{ blog_title }}</h1>
<p>Published {{ blog_published_date }} by Seth Michael Larson</p>
{% endblock %}
{% block content %}
<blockquote>
    <p style="text-align: center;">Subscribe for more content like this through the <a href="https://tinyletter.com/sethmlarson">mailing list</a> or <a href="{{ url_for('rss_blog_posts') }}">RSS</a>.</p>
</blockquote>
{{ blog_content | safe }}
{% endblock %}