{% extends "base.html" %}
{% block header %}
<h1>Articles</h1>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <p>Subscribe for updates either via the <a href="https://tinyletter.com/sethmlarson">mailing list</a> or <a href="{{ url_for('rss_blog_posts') }}">RSS</a>.</p>
        <ul>
        {% for month in blog_posts %}
        {% for bp in blog_posts[month] %}
        <li><a href="{{ url_for('get_blog_post', blog_post=bp.slug) }}">{{ bp.title }}</a> ({{ bp.date }})</li>
        {% endfor %}
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
