{% extends "base.html" %}
{% block title %}{{ blog_title }}{% endblock %}
{% block opengraph %}
    <meta property="og:site_name" content="Seth Michael Larson"/>
    <meta property="og:author" content="Seth Michael Larson"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ blog_title }}"/>
    <meta property="og:description" content="{{ blog_content_text | truncate(200, true, '...')}}"/>
    <meta property="og:image" content="https://github.com/sethmlarson.png"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@sethmlarson"/>
    <meta name="twitter:creator" content="@sethmlarson"/>
    <meta name="twitter:title" content="{{ blog_title }}"/>
    <meta name="twitter:description" content="{{ blog_content_text | truncate(200, true, '...')}}"/>
    <meta name="twitter:image" content="https://github.com/sethmlarson.png"/>
{% endblock %}
{% block header %}
<h1>{{ blog_title }}</h1>
<p>Published {{ blog_published_date }} by <strong>Seth Larson</strong><br>
Reading time: {{ reading_time }} minute{{ 's' if reading_time != 1 else '' }}</p>
{% endblock %}
{% block content %}
{{ blog_content | safe }}
<blockquote>
    <p><strong>Wow, you made it to the end!</strong></p>
    <p>
        <strong>Social media companies shouldn't be the only way</strong> to get updates on the cool stuff your friends are up to.
        Instead, you should either follow my blog via the <a href="{{ url_for('rss_blog_posts') }}">RSS feed</a> or the <a href="https://tinyletter.com/sethmlarson">email newsletter</a> for guaranteed article publication notifications.
    </p>
    <p>
        If you really enjoyed a piece I would be grateful if you shared with a friend. If you have follow-up thoughts you can send them via email.
    </p>
    <p>
        <strong>Thanks for reading!</strong><br> — Seth
    </p>
</blockquote>
<div>
    <center>
         <p xmlns:cc="http://creativecommons.org/ns#" >This work is licensed under <nobr><a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-SA 4.0</a> <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"></a></nobr></p>
    </center>
</div>
{% endblock %}