{% extends "base.html" %}
{% block content %}
{% for blog in blogs %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-10" >
        <h2 style="text-align: center; margin-bottom: 0.3em">{{ blog.title }}</h2>
        <center>Published {{ blog.published_date }}</center>
    </div>
    <div class="col-1"></div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        {{ blog.content | safe }}
    </div>
    <div class="col-1"></div>
</div>
{% endfor %}
<div class="row">
    <div class="col-1"></div>
    <div class="col-10" >
        <div style="background-color: #263C59; border-radius: 0.7em; padding: 0.7em; text-align: center;">
            If you enjoyed these posts <a href="{{ url_for('list_blog_posts') }}">there's more where that came from</a>!
            <br>
            You can subscribe via <a href="https://tinyletter.com/sethmlarson" target="_blank" rel="nofollow noopener noreferrer">Email</a> and <a href="{{ url_for('rss_blog_posts') }}">RSS</a>
        </div>
        <br>
    </div>
    <div class="col-1"></div>
</div>
{% endblock %}