{% extends "base.html" %}
{% block header %}
<h1 style="margin-bottom: 1rem;">Seth Michael Larson</h1>
<p>Python, open source, & the internet</p>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <p>
                Hey there! My name is Seth, my pronouns are he/him, and I'm a software engineer in Minneapolis, Minnesota.
                I am the Security Developer-in-Residence at the Python Software Foundation
                and working on improving the security posture of projects like CPython, PyPI, and the broader Python ecosystem.
            </p>
            <p>
                If you'd like to contact me for something related to the Security Developer-in-Residence role you can email me at <code>seth@python.org</code>.
            </p>
            <p>
                I maintain and contribute to
                <a href="https://github.com/sethmlarson?tab=repositories" target="_blank" rel="noopener noreferrer">multiple open source projects</a>.
                Most notably I'm the lead maintainer of <a href="https://github.com/urllib3/urllib3" target="_blank" rel="noopener noreferrer">urllib3</a>, an HTTP
                client library that is the most downloaded package on the Python Package Index with
                <a href="https://pepy.tech/project/urllib3?versions=*" target="_blank" rel="noopener noreferrer">over 9 billion downloads</a>. I was made a <a href="https://pyfound.blogspot.com/2022/07/announcing-python-software-foundation.html" target="_blank" rel="noopener noreferrer">Python Software Foundation Fellow</a> in 2022.
            </p>
            <p>
                I enjoy writing about Python, open source maintenance and sustainability, security, and technology powering the internet.
                If you're also interested in these topics you may find <a href="{{ url_for('list_blog_posts') }}">articles on my blog</a> worth a read.
                There's typically one article per month on average, so if you'd like to be notified when I publish something new
                you can subscribe to <a href="https://tinyletter.com/sethmlarson">the email newsletter</a> or follow along your favorite RSS client. Promise not to fill your inbox!
            </p>
            <p>
                My personal/open source email address is <code>sethmichaellarson@gmail.com</code>. Around the internet my handle is typically <code>@sethmlarson</code>, for example on <a href="https://github.com/sethmlarson" target="_blank" rel="noopener noreferrer">GitHub</a>, <a href="https://fosstodon.org/@sethmlarson" target="_blank" rel="noopener noreferrer">Mastodon</a>, and <a href="https://twitter.com/sethmlarson" target="_blank" rel="noopener noreferrer">Twitter</a>.
            </p>
        </div>
    </div>
{% endblock %}
