{% extends "base.html" %}
{% block title %}Cool URLs that I hope won't change{% endblock %}
{% block header %}
<h1><a href="https://www.w3.org/Provider/Style/URI">Cool URLs</a> that I hope won't change</h1>
{% endblock %}
{% block content %}
<p>
    This is a list of links to stuff on the internet that I enjoyed and want to share with others.
    There's not really a way to <em>subscribe</em> to this list, so you'll have to check back later for more!
</p>
<p>
    I share all the
    <a href="https://raw.githubusercontent.com/sethmlarson/sethmlarson.dev/refs/heads/master/archive/feeds.opml">RSS feeds</a>
    I follow and <a href="https://raw.githubusercontent.com/sethmlarson/sethmlarson.dev/refs/heads/master/archive/articles.opml">article URLs</a>
    below using <a href="https://en.wikipedia.org/wiki/OPML">OPML</a>, an open standard for sharing groups of links with text and other metadata.
    You can import the feeds directly into your reader app of choice (but beware, it's a firehose!)
</p>
<p id="#sentinel">
<h2>Life</h2>
<ul>
<li>“<a href="https://www.youtube.com/@CannedFishFiles">Canned Fish Files</a>” by <strong>Matthew Carlson</strong></li>
<li>“<a href="https://www.youtube.com/watch?v=1n9Gqa-0Cp0">Tim Walz plays Crazy Taxi with Alexandria Ocasio-Cortez</a>”</li>
<li>“<a href="https://www.forrestwozniak.com">Sign Painter</a>” by <strong>Forrest Wozniak</strong></li>
<li>“<a href="https://racketmn.com/its-time-for-twin-cities-mn-chefs-to-embrace-spam-hormel">It’s Time for Twin Cities Chefs to Embrace Spam</a>” by <strong>Em Cassel</strong></li>
<li>“<a href="https://www.joanwestenberg.com/is-cultural-technical-debt-sabotaging-our-survival">Cultural tech debt</a>” by <strong>Joan Westenberg</strong></li>
<li>“<a href="https://maggieappleton.com/garden">The Garden</a>” by <strong>Maggie Appleton</strong></li>
<li>“<a href="https://restofworld.org/2024/electric-vehicle-conversions-uruguay">Turning gas cars electric in Latin America</a>” by <strong>Daniela Dib</strong></li>
<li>“<a href="https://www.joelonsoftware.com/2002/06/12/strategy-letter-v">Commodotize your products' complement</a>” by <strong>Joel Spolsky</strong></li>
<li>“<a href="https://climate.benjames.io/solar-off-grid">Solar will be too cheap to connect to the power grid</a>” by <strong>Ben James</strong></li>
<li>“<a href="https://yossarian.net/brothercon">Brothercon 🍕</a>” by <strong>William Woodruff</strong></li>
<li>“<a href="https://aworkinglibrary.com/writing/knowledge-workers">There aren't knowledge workers, only workers</a>” by <strong>Mandy Brown</strong></li>
<li>“<a href="https://nonzero.substack.com/p/ode-to-a-world-saving-idea-f4b">Attribution error: explaining other's behavior with disposition or situation</a>” by <strong>Robert Wright</strong></li>
<li>“<a href="https://www.marginalia.nu/log/a_108_feynman_revisited">Feynman's Garden</a>” by <strong>marginalia.nu</strong></li>
<li>“<a href="https://nesslabs.com/ikigai">What We Got Wrong and How to Find Meaning in Life</a>” by <strong>Anne-Laure Le Cunff</strong></li>
<li>“<a href="https://ourworldindata.org/much-better-awful-can-be-better">The world is awful, much better, and can be much better</a>” by <strong>Max Roser</strong></li>
<li>“<a href="https://www.npr.org/2024/01/17/1224955473/social-media-algorithm-filterworld">Algorithms flatten culture</a>” by <strong>Tonya Mosley</strong></li>
<li>“<a href="https://cassidoo.co/post/human-curation">I miss human curation</a>”</li>
<li>“<a href="https://www.niemanlab.org/2023/12/the-robots-will-make-us-more-human">Robots will make us more human</a>” by <strong>Andrew Golis</strong></li>
<li>“<a href="https://moonbase.lgbt/blog/i-want-to-see-my-friends-posts">I want to see my friends’ posts</a>” by <strong>Luna</strong></li>
<li>“<a href="https://www.youtube.com/watch?v=XZ3w_jec1v8">The Economics of Programming Languages</a>” by <strong>Evan Czaplicki</strong></li>
<li>“<a href="https://taylor.town/black-holes">Don't play near black holes</a>” by <strong>Taylor Troesh</strong></li>
<li>“<a href="https://www.marginalia.nu/log/82_killing_community">Killing Community</a>” by <strong>marginalia.nu</strong></li>
<li>“<a href="https://www.marginalia.nu/log/19-website-discoverability-crisis">The Small Website Discoverability Crisis</a>” by <strong>marginalia.nu</strong></li>
<li>“<a href="https://www.theindex.media/p/the-elegance-of-endurance-what-centuries">Elegance of endurance</a>” by <strong>Joan Westenberg</strong></li>
<li>“<a href="https://www.theindex.media/p/the-chaos-of-social-media-vs-the">The chaos of Social Media vs. the order of RSS</a>” by <strong>Joan Westenberg</strong></li>
<li>“<a href="https://nedbatchelder.com/blog/202310/reflected_energy.html">Reflected energy</a>” by <strong>Ned Batchelder</strong></li>
<li>“<a href="https://nedbatchelder.com/blog/202310/where_did_everyone_go.html">Where did everyone go?</a>” by <strong>Ned Batchelder</strong></li>
<li>“<a href="https://newsletter.thejorgemedina.com/p/youre-not-lacking-creativity-youre">You’re not lacking creativity, you’re overwhelmed</a>” by <strong>Jorge Medina</strong></li>
<li>“<a href="https://www.asomo.co/p/tech-doesnt-make-our-lives-easier">Tech doesn’t make our lives easier. It makes them faster</a>”</li>
</ul>
<h2>Retro Gaming</h2>
<ul>
<li>“<a href="https://cuyler36.github.io/2017/10/31/creating-a-custom-name-routine.html">Implementing a Custom Item Name Routine</a>” by <strong>Cuyler</strong></li>
<li>“<a href="https://nookipedia.com/wiki/Secret_code/Generator">Nook Code Generator for Animal Crossing GC</a>” by <strong>Cuyler</strong></li>
<li>“<a href="https://www.reddit.com/r/Gamecube/comments/1gqfbae/my_niece_turned_18_and_i_gave_her_an_animal/?share_id=_XF34GcRZ_h-J5UqZDfZj&utm_content=1&utm_medium=ios_app&utm_name=iossmf&utm_source=share&utm_term=22&rdt=34253">Sharing items in Animal Crossing GC: "It's still online???"</a>”</li>
<li>“<a href="https://www.kongabeat.com">Konga Beat: Track editor for Donkey Konga 2 and 3</a>” by <strong>Parham Gholami and Dexter Friedman</strong></li>
<li>“<a href="https://geeceenet.com">GCNET</a>” by <strong>NeoStormer</strong></li>
<li>“<a href="https://gamebanana.com/mods/544238">Super Mario 64 in Sonic Adventure DX</a>” by <strong>Sora</strong></li>
<li>“<a href="https://www.youtube.com/watch?v=1-LWI2tGfhQ">FlippyDrive for the GameCube</a>” by <strong>Macho Nacho</strong></li>
<li>“<a href="https://fabiensanglard.net/snes_video/index.html">Super Nintendo Video System</a>” by <strong>Fabien Sanglard</strong></li>
<li>“<a href="https://youtu.be/nviIKTywuYU?si=mgFOhNBRMCTAIwOU">A video about Melee</a>” by <strong>AsumSaus</strong></li>
<li>“<a href="https://youtube.com/watch?si=BDytOgheHFncVBK9&v=tfS9SYPT-jw">Super Paper Mario's design</a>” by <strong>Kirbyster</strong></li>
<li>“<a href="https://orangegb.com/orangefm">ORANGE FM, Game Boy cartridge for FM Radio</a>” by <strong>Evan Barger</strong></li>
<li>“<a href="http://www.blarg.ca/2021/02/15/using-a-gamecube-ascii-keyboard-controller-with-libogc">Gamecube ASCII keyboard controller and libogc</a>” by <strong>Gered King</strong></li>
<li>“<a href="https://www.youtube.com/watch?v=699HVbOKNtc">GameCube, Wii, Wii U, and PC connected via Broadband Adapter</a>” by <strong>Good Vibes Gaming</strong></li>
<li>“<a href="https://fabiensanglard.net/snes_carts/index.html">Super Nintendo Cartridges</a>” by <strong>Fabien Sanglard</strong></li>
<li>“<a href="https://www.youtube.com/watch?v=uZyLY2Uyi04">Building a brand new Game Boy Advance in 2024</a>” by <strong>Macho Nacho Productions</strong></li>
<li>“<a href="https://github.com/PretendoNetwork/SSSL">SSSL: hackless TLS bypass for the Wii U</a>” by <strong>Pretendo Network</strong></li>
<li>“<a href="https://www.archdaily.com/783657/the-sheets-of-graph-paper-they-used-to-design-super-mario-bros">Super Mario Bros was designed on graph paper</a>” by <strong>Nicolás Valencia</strong></li>
<li>“<a href="https://int10h.org/blog/2024/02/game-font-forensics">Game Font Forensics</a>”</li>
<li>“<a href="https://brainbaking.com/post/2022/04/analogue-pocket">Analogue Pocket: the definitive Game Boy handheld?</a>” by <strong>Wouter Groeneveld</strong></li>
<li>“<a href="https://fusoya.eludevisibility.org/lm">Lunar Magic: Super Mario World ROM and level editor</a>”</li>
<li>“<a href="https://brainbaking.com/post/2023/08/an-ode-to-game-boy-cartridges">An Ode To Game Boy Cartridges</a>” by <strong>Wouter Groeneveld</strong></li>
<li>“<a href="https://gbhwdb.gekkio.fi">Game Boy hardware database</a>”</li>
<li>“<a href="https://www.amigalove.com/viewtopic.php?t=2639">Rogue, and other Roguelikes for Amiga</a>” by <strong>intric8</strong></li>
<li>“<a href="http://sonic2.dreampipe.net/en/index.html">Sonic Adventure 2 Dreamcast website still works</a>” by <strong>Dreampipe Team</strong></li>
<li>“<a href="https://dialoguetree.net/ttyd">Paper Mario: The Thousand-Year Door Dialogue</a>”</li>
<li>“<a href="http://there.oughta.be/a/wooden-game-boy">Wooden Game Boy</a>” by <strong>Sebastian Staacks</strong></li>
<li>“<a href="https://garyodernichts.blogspot.com/2023/10/exploiting-dns-response-parsing-on-wii-u.html?m=1">Exploiting DNS response parsing on the Wii U</a>” by <strong>Gary</strong></li>
<li>“<a href="https://gameboycamera.com">Game Boy Camera Photographer and Developer</a>” by <strong>Christopher Graves</strong></li>
<li>“<a href="https://gameboycamera.super.site/projects/game-boy-mini-camera">Game Boy Mini Camera</a>” by <strong>Christopher Graves</strong></li>
<li>“<a href="https://www.laserbear.net/blogs/news/gamecube-lcd-jewel-roadmap">GameCube LCD Jewel</a>” by <strong>Gregory Collins</strong></li>
<li>“<a href="https://www.insidegadgets.com/2018/12/09/making-the-gameboy-link-cable-wireless-packet-based">Making the Gameboy Link Cable Wireless (Packet-based)</a>” by <strong>Alex</strong></li>
<li>“<a href="https://palmr.co.uk/posts/26-gameboy-link-cable-breakout">Game Boy Link Cable Breakout Board</a>” by <strong>Nick Palmer</strong></li>
<li>“<a href="https://stacksmashing.gumroad.com/l/gb-link">USB to GB Link Cable Adapter Kit</a>” by <strong>Stacksmashing</strong></li>
<li>“<a href="https://github.com/zenaro147/PicoAdapterGB">Connect Game Boy Advance to Raspberry Pi Pico W</a>” by <strong>zenaro147</strong></li>
<li>“<a href="https://cariadheather.medium.com/adventures-with-an-11-000-kilometre-long-game-boy-advance-link-fa52082a31c9">Adventures with an 11,000 kilometre-long Game Boy Advance link</a>”</li>
<li>“<a href="https://youtube.com/watch?si=qnFN8X6I2wZ8WW0e&v=tsfuIRWK-BY">Internet-enabled GameCube Memory Card</a>” by <strong>Macho Nacho</strong></li>
<li>“<a href="https://youtube.com/watch?si=HUTEvS41iLInTyDI&v=qwL4ZSa0xMo">PicoBoot GameCube modchip</a>” by <strong>Macho Nacho</strong></li>
<li>“<a href="https://ereader.miraheze.org/wiki/Main_Page">E-Reader Development Resources</a>”</li>
<li>“<a href="https://m.youtube.com/watch?v=YPq48Wm8y-U">FlippyDrive GameCube modchip</a>” by <strong>Macho Nacho</strong></li>
<li>“<a href="https://m.youtube.com/watch?v=1uxu8anymDg">M2 Loader for the GameCube</a>” by <strong>Macho Nacho</strong></li>
<li>“<a href="https://caitsith2.com">Technical info on NES, SNES, GBA, DS, 3DS</a>” by <strong>caitsith2</strong></li>
<li>“<a href="https://www.youtube.com/watch?v=EkcISHZvWHE">Ashida Portable GameCube Assembly</a>” by <strong>GingerOfVODs</strong></li>
<li>“<a href="https://mattgreer.dev/blog/printing-ereader-cards">Printing Nintendo E-Reader Cards</a>”</li>
<li>“<a href="https://www.coranac.com/tonc/text/toc.htm">TONC: Framework for GameBoy Advance game programming</a>” by <strong>Cearn</strong></li>
<li>“<a href="https://github.com/loociano/awesome-ereader-dev">E-Reader Development Resources</a>” by <strong>loociano</strong></li>
<li>“<a href="http://ereader.kiczek.com">E-Reader Info and Downloads</a>” by <strong>Kiczek</strong></li>
<li>“<a href="https://www.miilibrary.com">Mii Library</a>”</li>
</ul>
<h2>Security</h2>
<ul>
<li>“<a href="https://neilmadden.blog/2024/09/18/digital-signatures-and-how-to-avoid-them">Digital signatures and how to avoid them</a>” by <strong>Neil Madden</strong></li>
<li>“<a href="https://rya.nc/vpp-hack.html">Hacking a Virtual Power Plant</a>” by <strong>Ryan Castellucci</strong></li>
<li>“<a href="https://www.anarsec.guide/posts/tamper">Make Your Electronics Tamper-Evident</a>” by <strong>AnarSec</strong></li>
<li>“<a href="https://harihareswara.net/posts/2024/a-story-about-jessica-by-swiftonsecurity">A Story About Jessica</a>” by <strong>SwiftOnSecurity</strong></li>
<li>“<a href="https://me.micahrl.com/blog/concerns-about-passkeys">Concerns about Passkeys and user agency</a>” by <strong>Micah R Ledbetter</strong></li>
<li>“<a href="https://denysdovhan.com/home-assistant-config/config/war">Home Assistant for Wartime Safety</a>” by <strong>Denys Dovhan</strong></li>
<li>“<a href="https://berthub.eu/articles/posts/cyber-security-pre-war-reality-check">Cyber Security: A Pre-War Reality Check</a>” by <strong>Bert Hubert</strong></li>
<li>“<a href="https://www.hezmatt.org/~mpalmer/blog/2024/04/09/how-i-tripped-over-the-debian-weak-keys-vuln.html">Tripping over the Debian Weak Keys vulnerability</a>” by <strong>Matt Palmer</strong></li>
<li>“<a href="https://steveklabnik.com/writing/memory-safety-is-a-red-herring">Memory Safety is a Red Herring</a>” by <strong>Steve Klabnik</strong></li>
<li>“<a href="https://dgl.cx/2023/09/ansi-terminal-security">" [31m"?! ANSI Terminal security in 2023 and finding 10 CVEs</a>”</li>
<li>“<a href="https://blog.yossarian.net/2023/10/18/Some-concerns-with-OpenPubKey">Some concerns with OpenPubKey</a>” by <strong>William Woodruff</strong></li>
<li>“<a href="https://words.filippo.io/dispatches/seeds-bounty">Announcing the $8,192 NIST Elliptic Curves Seeds Bounty</a>” by <strong>Filippo Valsorda</strong></li>
<li>“<a href="https://alexgaynor.net/2023/oct/02/defining-the-memory-safety-problem">Defining the memory safe problem</a>” by <strong>Alex Gaynor</strong></li>
<li>“<a href="https://blog.trailofbits.com/2023/05/23/trusted-publishing-a-new-benchmark-for-packaging-security">Trusted publishing: a new benchmark for packaging security</a>” by <strong>William Woodruff</strong></li>
</ul>
<h2>Software and OSS</h2>
<ul>
<li>“<a href="https://www.abortretry.fail/p/the-internet-gopher-from-minnesota">The Internet Gopher from Minnesota</a>”</li>
<li>“<a href="https://lagrangepoint.substack.com/p/airpods-hearing-aid-hacking">Bypassing AirPods regulatory locks with Faraday cages</a>” by <strong>Lagrange Point</strong></li>
<li>“<a href="https://blog.glyph.im/2024/11/the-federation-deathmatch.html">Federation Deathmatch</a>” by <strong>Glyph</strong></li>
<li>“<a href="https://blog.jim-nielsen.com/2024/enabled-by-default">Enabled by default</a>” by <strong>Jim Nielsen</strong></li>
<li>“<a href="https://www.smolways.com/post/where-the-digital-sidewalk-ends">Where the digital sidewalk ends</a>” by <strong>Huston Bokinsky</strong></li>
<li>“<a href="https://dri.es/my-solar-powered-and-self-hosted-website">Solar-powered self-hosted website</a>” by <strong>Dries Buytaert</strong></li>
<li>“<a href="https://rknight.me/blog/setting-up-mastodon-author-tags">Mastodon Author Tags</a>” by <strong>Robb Knight</strong></li>
<li>“<a href="https://blog.datadesk.eco/p/methane-mysteries">Solving methane mysteries with satellite imagery</a>” by <strong>Louis Goddard</strong></li>
<li>“<a href="https://benn.substack.com/p/do-ai-companies-work">Do AI companies work?</a>” by <strong>Benn Stancil</strong></li>
<li>“<a href="https://berjon.com/infrastructure-shock">The Infrastructure Shock</a>” by <strong>Debbie Chachra</strong></li>
<li>“<a href="https://www.w3.org/Provider/Style/URI">Cool URIs don't change</a>” by <strong>W3C</strong></li>
<li>“<a href="https://infrequently.org/series/reckoning">Reckoning for web frontend</a>” by <strong>Alex Russell</strong></li>
<li>“<a href="https://infrequently.org/2024/01/performance-inequality-gap-2024">Frontend is haunted by 2013's Great Branch Mispredict</a>” by <strong>Alex Russell</strong></li>
<li>“<a href="https://holtwick.de/en/blog/localfirst-resilient-sync">Resilient Sync for Local First</a>” by <strong>Dirk Holtwick</strong></li>
<li>“<a href="https://tonsky.me/blog/crdt-filesync">Local, first, forever</a>” by <strong>Nikita Prokopov</strong></li>
<li>“<a href="https://www.datagubbe.se/stupidslow">Stupid Slow</a>” by <strong>Carl Svensson</strong></li>
<li>“<a href="https://www.inkandswitch.com/local-first">Local-first software</a>” by <strong>Martin Kleppmann</strong></li>
<li>“<a href="https://brr.fyi/posts/engineering-for-slow-internet">Engineering for Slow Internet</a>” by <strong>brr</strong></li>
<li>“<a href="https://harihareswara.net/posts/2024/references-pycon-us-keynote">Untold stories from 6 years working on Python packaging</a>” by <strong>Sumana Harihareswara</strong></li>
<li>“<a href="https://gpsjam.org/?date=2024-04-28&lat=53.47155&lon=32.20202&z=4.2">Map of GPS/GNSS interference</a>” by <strong>John Wiseman</strong></li>
<li>“<a href="https://jvns.ca/blog/2014/12/21/fear-makes-you-a-worse-programmer">Fear makes you a worse programmer</a>” by <strong>Julia Evans</strong></li>
<li>“<a href="https://huonw.github.io/blog/2024/03/qr-base10-base64">10 > 64, in QR codes</a>”</li>
<li>“<a href="https://rfc.zeromq.org/spec/32">32/Z85 | ZeroMQ RFC</a>”</li>
<li>“<a href="https://www.joelonsoftware.com/2000/04/06/things-you-should-never-do-part-i">Never rewrite software from scratch</a>” by <strong>Joel Spolsky</strong></li>
<li>“<a href="https://clig.dev">Command Line Interface Guidelines</a>”</li>
<li>“<a href="https://ruffle.rs">Ruffle: Flash player written in Rust</a>”</li>
<li>“<a href="https://endtimes.dev/why-lowercase-letters-save-data">why lowercase letters save data</a>” by <strong>Nathaniel</strong></li>
<li>“<a href="https://mozilla.github.io/platform-tilt">How Firefox is disadvantaged on every platform</a>” by <strong>Mozilla</strong></li>
<li>“<a href="https://huonw.github.io/blog/2021/09/qr-error-correction">QR error correction</a>” by <strong>Huon Wilson</strong></li>
<li>“<a href="https://messwithdns.net">Mess with DNS</a>” by <strong>Julia Evans</strong></li>
<li>“<a href="https://blog.yossarian.net/2023/12/24/You-dont-need-analytics-on-your-blog">You don't need analytics on your blog</a>” by <strong>William Woodruff</strong></li>
<li>“<a href="https://m.youtube.com/watch?v=9qljpi5jiMQ">GitHub Actions Feels Bad</a>” by <strong>Amos Wenger</strong></li>
<li>“<a href="https://davidism.com/github-pull-request-pitfalls">Pitfalls for Pull Requests on GitHub</a>” by <strong>David Lord</strong></li>
<li>“<a href="https://imperavi.com/books/ui-typography">User Interface Typography</a>”</li>
<li>“<a href="https://jjtech.dev/reverse-engineering/imessage-explained">iMessage protocol</a>” by <strong>JJTech</strong></li>
<li>“<a href="https://how-did-i-get-here.net">How Did I Get Here?</a>”</li>
<li>“<a href="https://hypermedia.systems">Hypermedia Systems</a>” by <strong>Carson Gross, Adam Stepinski, and Deniz Akşimşek</strong></li>
<li>“<a href="https://rachelbythebay.com/w/2023/11/07/wpa3">Asahi Linux folks are doing us a solid with WPA3 fixes</a>”</li>
<li>“<a href="https://lwn.net/Articles/947941">Hyphens, minus, and dashes in Debian man pages</a>” by <strong>Jonathan Corbet</strong></li>
<li>“<a href="https://alexgaynor.net/2020/nov/30/why-software-ends-up-complex">Why software ends up complex</a>” by <strong>Alex Gaynor</strong></li>
<li>“<a href="https://lwn.net/Articles/947138">Progress on no-GIL CPython</a>” by <strong>Jake Edge</strong></li>
<li>“<a href="https://www.ntietz.com/blog/write-more-useless-software">Write more "useless" software</a>”</li>
<li>“<a href="https://tonsky.me/blog/unicode">What software developers must know about Unicode in 2023</a>” by <strong>Nikita Prokopov</strong></li>
<li>“<a href="https://research.swtch.com/qr/draw">QR Code Artwork Generator</a>” by <strong>Russ Cox</strong></li>
<li>“<a href="https://stripe.com/blog/payment-api-design">Stripe Payment API Design</a>” by <strong>Michelle Bu</strong></li>
<li>“<a href="https://tofu.quest">Is It Tofu? Check Unicode compatibility</a>” by <strong>Aaron Madlon-Kay</strong></li>
<li>“<a href="https://alfy.blog/2024/10/19/linking-directly-to-web-page-content.html">Link to web content in URL fragments</a>”</li>
</ul>
<h2>Toys and Art</h2>
<ul>
<li>“<a href="https://theanglebracket.com">The Angle Bracket</a>”</li>
<li>“<a href="https://www.decarpentier.nl/carpentopod">Walking wooden coffee table</a>” by <strong>Giliam de Carpentier</strong></li>
<li>“<a href="https://owickstrom.github.io/the-monospace-web">The Monospace Web</a>” by <strong>Oskar Wickström</strong></li>
<li>“<a href="https://www.candyjapan.com/behind-the-scenes/algorithmic-fitting-of-japanese-candy">Algorithmic fitting of Japanese candy</a>” by <strong>Candy Japan</strong></li>
<li>“<a href="https://meatfighter.com/ascii-silhouettify">ASCII Silhouettify</a>” by <strong>Meat Fighter</strong></li>
<li>“<a href="https://www.terminal.shop">Order coffee from your terminal</a>”</li>
<li>“<a href="https://medium.com/@grubbycoder/porting-8-bit-sonic-2-to-the-ti-84-ce-7ec99f9981c9">Porting 8-bit Sonic 2 to the TI-84 CE</a>” by <strong>grubbycoder</strong></li>
<li>“<a href="https://kidpix.app">KidPix for the web</a>” by <strong>Craig Hickman</strong></li>
<li>“<a href="https://mastodon.social/@ahl/112243122623783002">Physics simulation of the Nebraska maintainer XKCD</a>” by <strong>Adam Leventhal</strong></li>
<li>“<a href="https://www.mayerowitz.io/blog/mario-meets-pareto">Mario meets Pareto</a>” by <strong>Antoine Mayerowitz</strong></li>
<li>“<a href="https://www.tindie.com/products/sqfmi/watchy">Watchy from SQFMI on Tindie</a>”</li>
<li>“<a href="https://tomayac.github.io/joy-con-webhid/demo">Joy-Con and WebHID</a>”</li>
<li>“<a href="https://shot-scraper.datasette.io/en/stable">CLI for capturing pictures and PDFs of websites</a>” by <strong>Simon Willison</strong></li>
<li>“<a href="https://mcbroken.com">McBroken: is the McDonalds ice cream machine broken?</a>” by <strong>Rashiq</strong></li>
<li>“<a href="https://www.youtube.com/watch?v=QPFWzSlg-78">Pikmin 2 Procedural Cave Music</a>” by <strong>Scruffy</strong></li>
<li>“<a href="https://dukope.com/devlogs/papers-please/lcdplease">Making "LCD, Please"</a>” by <strong>Lucas Pope</strong></li>
<li>“<a href="https://abagames.github.io/joys-of-small-game-development-en">Joys of Small Game Development</a>” by <strong>abagames</strong></li>
<li>“<a href="https://alex.miller.garden/grid-world">GRID WORLD</a>” by <strong>Alexander Miller</strong></li>
<li>“<a href="https://github.com/katef/kgt">KGT: Beautiful railroad diagram tool</a>” by <strong>Kate</strong></li>
<li>“<a href="https://wakamaifondue.com/beta">Wakamai Fondue, the tool that answers the question "what can my font do?"</a>”</li>
</ul>
</p>
{% endblock %}